/* 2.1. PRELOADER */
.animationload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: #fff;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    background-image: url("../images/apple-touch-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}

/* 2.2. BUTTONS */

:focus {
    outline: none;
}

.btn{
	font-family:  $font_1;
	font-size: 14px;
	color: $white;
	padding: 15px 35px;
    border: 0;
    font-weight: 600;
	@include border-radius(3);
}
.btn-default {
    background-color: $orange;
    color: $white;
	padding: 15px 20px;
    border: 0;
	@include border-radius(0);
}
.btn-default:hover {
    background-color: $blue_1;
}
.btn-orange-cta {
    background-color: $orange;
    color: $white;
	padding: 15px 20px;
    border: 0;
    font-weight: 600;
	@include border-radius(0);
	&:hover{
		background-color: $blue_2;
		color: $white;
	}
}
.navbar-main{
	.btn-orange-cta{
		&:hover{
			background-color: $blue_1;
			color: $white;
		}
	}
}
.btn-primary {
    background-color: $orange;
    @extend .btn;
	&:hover{
		background-color: $blue_1;
		color: $white;
	}
}
.btn-secondary {
    background-color: $blue_1;
    @extend .btn;
	&:hover{
		background-color: $orange;
		color: $white;
	}
}
.btn-secondary.disabled{
    background-color: $blue_1;
    border-color: $blue_1;
}
.pagination{
	clear: both;
	text-align: left;
	margin-top: 20px;
	> li{
		@include border-radius(0px);
		> a{
			padding: 15px 20px;
			margin-right: 5px;
			margin-bottom: 5px;
			color: $black_1;
			display: inline-block;
			border-color: transparent;
			background: #eee;
			border: 0;
			&:hover,
			&.active{
				background: $blue_1;
				color: #fff;
			}
		}
		&:first-child > a, &:first-child > span {
		  	border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		}
		&:last-child > a, &:last-child > span {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		}
	}
	> .active{
		> a{
			background: $blue_1;
			color: #fff;
		}
	}
	> .active > a, > .active > span, > .active > a:hover, > .active > span:hover, > .active > a:focus, > .active > span:focus{
		background: $blue_1;
		color: #fff;

	}
}

.btn-sidebar{
	border-radius: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    .fa{
    	margin-right: 10px;
	    font-size: 1.4em;
        vertical-align: middle;
    }
}

/* 2.3. BOX ICON 1 */
.box-icon-1{
	margin-bottom: 20px;
	.icon{
		display: inline-block;
		color: $blue_1;
	    font-size: 36px;
    	line-height: 43px;
	    float: left;
	}
	.body-content{
	    margin-left: 55px;
		color: $black_3;
		
		.heading{
			color: $black_4;
			font-weight: 600;
		}
	}
}

/* 2.4. BOX ICON 2 */
.box-icon-2{
	margin-bottom: 40px;
	.icon{
		display: inline-block;
		color: $blue_1;
	    font-size: 36px;
    	line-height: 43px;
	    float: left;
	}
	.body-content{
	    margin-left: 65px;
		color: $black_3;
		
		.heading{
			color: $black_4;
			font-size: 22px;
			margin-bottom: 15px;
		}
	}
}

/* 2.5. BOX IMAGE 1 */
.box-image-1{
	position: relative;
	margin-bottom: 30px;
	.image{
		overflow: hidden;
		background-color: #000;
		img{
			opacity: .9;
			max-width: 100%;
			-webkit-transform: scale(1,1);
			-ms-transform: scale(1,1);
			        transform: scale(1,1);
			-webkit-transition-timing-function: ease-in;
			        transition-timing-function: ease-in;
			-webkit-transition-duration: 250ms;
			        transition-duration: 250ms;
			-webkit-transition: 0.1s all linear;
			        transition: 0.1s all linear;
			        
		}
	}
	&:hover{
		.image{
			img{
				opacity: .4;
				-webkit-transform: scale(1.1,1.1);
				-ms-transform: scale(1.1, 1.1);
					transform: scale(1.1, 1.1);
				box-shadow: none;
				-webkit-transition-timing-function: ease-out;
				        transition-timing-function: ease-out;
				-webkit-transition-duration: 250ms;
				        transition-duration: 250ms;
			}
		}
		
	}
	.description{
		position: absolute;
		left: 40px;
		bottom: 40px;
	}
	.blok-title {
	    color: $white;
	    font-size: 24px;
	    font-weight: 400;
	}

}
/* 2.6. BOX IMAGE 2 */
.box-image-2{
	.image{
		img{
			width: 100%;
		}
	}
	.blok-title {
	    color: $blue_1;
	    font-size: 24px;
	    font-weight: 400;
	    margin-top: 30px;
	    margin-bottom: 20px;
	}
	.description{
		
	}

}

/* 2.7. BOX IMAGE 3 */
.box-image-3{
	position: relative;
	margin-bottom: 40px;
	.image{
		overflow: hidden;
		background-color: $blue_1;
		position: relative;
		
		&:before{
			content: '';
			position: absolute;
			background: url(../images/link.gif) center top no-repeat;
			top: 40%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    width: 50px;
		    height: 50px;
			text-align: center;
			z-index: 9;
			color: $white;
			font-size: 30px;
			filter: alpha(opacity=0);
			opacity: 0;
			-webkit-transition: all ease .25s;
		        transition: all ease .25s;
		}
		img{
			opacity: 1;
			max-width: 100%;
			-webkit-transform: scale(1,1);
			-ms-transform: scale(1,1);
			        transform: scale(1,1);
			-webkit-transition-timing-function: ease-in;
			        transition-timing-function: ease-in;
			-webkit-transition-duration: 250ms;
			        transition-duration: 250ms;
			-webkit-transition: 0.1s all linear;
			        transition: 0.1s all linear;
		}
	}
	&:hover{
			.image{
				img{
					opacity: .2;
					-webkit-transform: scale(1.1,1.1);
					-ms-transform: scale(1.1, 1.1);
						transform: scale(1.1, 1.1);
					-webkit-transition-timing-function: ease-out;
					        transition-timing-function: ease-out;
					-webkit-transition-duration: 250ms;
					        transition-duration: 250ms;
				}
				&:before{
					top: 50%;
					filter: alpha(opacity=1);
					opacity: 100;
				}
			}
			
		}	
	
	.blok-title {
	   	text-align: center;
	   	color: $black_1;
	   	font-size: 18px;
	   	margin-top: 20px;
	   	margin-bottom: 20px;
	}
	&:hover{
		.blok-title {
			color: $blue_1;
		}
	}
}

/* 2.8. BOX TESTIMONY */
.box-testimony{
	position: relative;
    box-sizing: border-box;
	&:before{
	    content: "\f10e";
		color: $orange;
	    font-family: FontAwesome;
	    font-size: 60px;
	    float: left;
	    line-height: initial;
	}
	.quote-box{
		margin-left: 80px;
		blockquote{
			font-size: 18px;
			line-height: 32px;
			font-weight: 600;
		    padding: 0;
		    background-color: transparent;
		    margin: 0;
		    border-left: 0;
		    font-style: italic;
		}
		.quote-name{
			margin-top: 30px;
			font-size: 24px;
			line-height: 34px;
			font-weight: 700;
			color: $blue_1;
			span{
				font-size: 12px;
				font-style: italic;
				color: $black_3;
				font-weight: normal;
				display: block;
			}
		}
	}
}

/* 2.9. BOX TEAM 2 */
.box-team{
	border: 1px solid #eee;
	margin-bottom: 30px;
	&:hover{
		border-color: $blue_1;
	}
	&:after{
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
	.box-image{
		float: left;
		width: 50%;
		position: relative;
		img{
			display: block;
			width: 100%;
		}
		.sosmed{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255,255,255,.6);
			text-align: center;
			padding: 10px 0;
			.fa{
				font-size: 18px;
				color: $blue_1;
				padding: 0 20px;
				&:hover{
					color: $blue_2;
				}
			}
		}
	}
	.body-content{
	    float: left;
		width: 50%;
		padding: 30px 30px;
		position: relative;
		
		.people{
			color: $blue_1;
			font-size: 24px;
    		font-weight: 700;
			margin-bottom: 15px;
		}
		.position{
			font-size: 12px;
			font-style: italic;
		}
		.excert{
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.phone{
			font-size: 18px;
			color: $blue_1;
			.fa{
				font-size: 30px;
				color: $orange;
				margin-right: 10px;
			    vertical-align: middle;
			}
		}
	}
}

/* 2.10. BOX STATISTIC */
.box-statistic{
	text-align: center;
	margin-top: 40px;
	.icon{
		font-size: 36px;
		color: $orange;
		margin-bottom: 30px;
	}
	.heading{
		font-size: 36px;
		color: $blue_1;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.subheading{
		font-size: 14px;
		font-weight: 600;
		color: $blue_2;
	}
}

/* 2.11. BOX HISTORY */
.box-history{
	.item{
		padding-bottom: 40px;
		&:before{
			content: '';
			position: absolute;
			left: 92px;
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: #eee;
			z-index: -1;
		}
		.year{
			float: left;
			font-size: 18px;
			font-weight: 700;
		}
		.year-info{
			position: relative;
			margin-left: 100px;
			&:before{
				content: '';
				position: absolute;
				left: -30px;
				width: 15px;
				height: 15px;
				background-color: $orange;
				@include border-radius(30px);
			}
			
			.heading{
				font-size: 24px;
				color: $blue_1;
				margin-bottom: 20px;
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
}

/* 2.12. BOX PARTNERS */
.box-partner{
	margin-top: 30px;
	margin-bottom: 30px;
	.item{
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #eee;
		.box-image{
			float: left;
			width: 20%;
			font-size: 18px;
			img{
				width: 100%;
				border: 1px solid #eee;
				padding: 20px;
			}
		}
		.box-info{
			float: left;
			width: 70%;
			position: relative;
			margin-left: 40px;
			.heading{
				font-size: 24px;
				color: $blue_1;
				font-weight: 700;
				margin-bottom: 20px;
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.item:last-child{
		border-bottom: 0;
	}
}

/* 2.13. PANEL ACCORDION */
.panel-faq{

	&.panel-group .panel {
	    border-radius: 0px;
	}
	.panel-default{
		border-color: transparent;
		> .panel-heading {
		    color: #333;
		    background-color: #f6f6f6;
		    border-color: #ddd;
		    border:0;
			border-top-left-radius: 0;
		    border-top-right-radius: 0;
			padding: 13px 20px;
			&:before {
				padding: 0 0px 0 20px;
				content: "\002B";
				font-family: Arial;
				font-size: 24px;
				float: right;
				
			}
			+ .panel-collapse > .panel-body {
			    border-top-color: transparent;
			}
			&.active{
				background-color: $blue_1;
	    		color: #fff;
				&:before {
				    color: #fff;
				    content: "\002D";
				}
			}
		}
		&:hover{
			> .panel-heading {
			    color: $blue_1;
			}
			> .panel-heading.active {
			    color: $white;
			}
		}
		
	}
	.panel-title {
		font-size: 16px;
		display: table-cell;
		> a,
		> a:active,
		> a:focus{
		    color: inherit;
			text-decoration: none;
			display: inline-table;
		}
	}
	.panel-body{
	 	padding: 15px 30px;
	    background-color: #fff;
	    margin-top: 4px;
		p {
			margin: 10px 0;
		}
	}
	.collapse.in {
	    display: block;
	    visibility: visible;
	}
}

/* 2.14. FAQ */
.faq-list{
	margin:0;
	padding:0;
	li{
		list-style:none;
		.fa{
			color: #f00;
		    font-size: 14px;
			margin-right:10px;
		}
	}
	.faq-item-image{
		position:relative;
		width:100%;
		text-align:center;
	}
	.faq-item-image img{
		display:block;
	}
}

/* 2.15. PRICING TABLE */
.panel-pricing{
	border-color: #ccc;
	text-align:center;
	margin-bottom: 40px;
	background-color: #f6f6f6;
	&.best{
		.price{
			background-color:$orange;
		}
	}
	.price{
		padding: 15px 0;
		font-size:80px;
		background-color:$blue_1;
		font-size: 36px;
		color:#fff;
		font-weight: 700;
		
		sup{
			font-size:18px;
			margin-right: 5px;
			top: -.6em;
			font-weight: 400;
		}
		small{
			font-size:14px;
			margin-left: 0px;
		}
	}
	h3{
		font-size: 24px;
	    line-height: 34px;
		font-weight: 700;
		padding-top: 10px;
	}
	> .panel-heading {
		color: $black_1;
		border-color: #eee;
		padding: 0px 0px;
	}
	.table > tbody > tr > td, .table > tfoot > tr > td {
		padding: 12px 0;
		vertical-align: top;
		border-top: none;
	}
	.table {
	    margin-bottom: 0;
	}
	.panel-body {
	    padding: 10px;
	    text-align: center;
	    table,
		th,
		td {
		  border: 0; 
		  text-align: center;
		}
	}
	.panel-footer {
		padding: 30px 0;
		border-top: 0;
	}
}

/* 2.16. CAREER TABS */
.career-tabs{
	> ul{
	    margin-left: 0px;
	}
	.nav-tabs {
		border-bottom: 0;
		> li {
		    float: left;
		    margin-bottom: 0;
		    width: 25%;
	        background: #eee;
	        text-align: center;
	        > a{
    	        margin-right: 0;
	    	    border-radius: 0;
	    	    font-weight: 700;
	        }
	        &.active > a, &.active > a:hover, &.active > a:focus{
	        	color: $white;
			    cursor: default;
			    background-color: $blue_1;
	        }
		}
	}
	.tab-content{
		padding: 20px 30px;
		border: 1px solid #eee;
	}
}

/* 3.17. BOX NEWS */
.box-news-1{
	position: relative;
	margin-bottom: 40px;
	.image{
		overflow: hidden;
		background-color: $blue_1;
		position: relative;
		img{
			opacity: 1;
			max-width: 100%;
			-webkit-transform: scale(1,1);
			-ms-transform: scale(1,1);
			        transform: scale(1,1);
			-webkit-transition-timing-function: ease-in;
			        transition-timing-function: ease-in;
			-webkit-transition-duration: 250ms;
			        transition-duration: 250ms;
			-webkit-transition: 0.1s all linear;
			        transition: 0.1s all linear;
		}
		&:before{
			content: '';
			position: absolute;
			background: url(../images/link.gif) center top no-repeat;
			top: 40%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    width: 50px;
		    height: 50px;
			text-align: center;
			z-index: 9;
			color: $white;
			font-size: 30px;
			filter: alpha(opacity=0);
			opacity: 0;
			-webkit-transition: all ease .25s;
		        transition: all ease .25s;
		}
	}
	&:hover{
		.image{
			img{
				opacity: .2;
				-webkit-transform: scale(1.1,1.1);
				-ms-transform: scale(1.1, 1.1);
					transform: scale(1.1, 1.1);
				-webkit-transition-timing-function: ease-out;
				        transition-timing-function: ease-out;
				-webkit-transition-duration: 250ms;
				        transition-duration: 250ms;
			}
			&:before{
				top: 50%;
				filter: alpha(opacity=1);
				opacity: 100;
			}
		}
		
	}	
	.meta-date{
	   	margin-top: 10px;
	   	color: $blue_1;
	   	font-size: 12px;
	   	font-style: italic;
	}
	.blok-title {
	   	color: $black_1;
	   	font-size: 18px;
	   	margin-top: 5px;
	   	margin-bottom: 20px;
	   	height: 50px;
	   	overflow: hidden;
	   	a:hover{
	   		color: $orange;
	   	}
	}
}

/* 2.18. LIST NEWS */
.list-news{
	width: 98%;
	.news-item{
		margin-bottom: 70px;
		padding-right: 15px;
    	padding-left: 15px;
		.image{
			position: relative;
			overflow: hidden;
			background-color: $blue_1;
			&:before{
				content: '';
				position: absolute;
				background: url(../images/link.gif) center top no-repeat;
				top: 40%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			    transform: translate(-50%,-50%);
			    width: 50px;
			    height: 50px;
				text-align: center;
				z-index: 9;
				color: $white;
				font-size: 30px;
				filter: alpha(opacity=0);
				opacity: 0;
				-webkit-transition: all ease .25s;
			        transition: all ease .25s;
			}
			img{
				opacity: 1;
				max-width: 100%;
				-webkit-transform: scale(1,1);
				-ms-transform: scale(1,1);
				        transform: scale(1,1);
				-webkit-transition-timing-function: ease-in;
				        transition-timing-function: ease-in;
				-webkit-transition-duration: 250ms;
				        transition-duration: 250ms;
				-webkit-transition: 0.1s all linear;
				        transition: 0.1s all linear;
			}
			.meta-date{
				position: absolute;
				bottom: 40px;
				left: 0;
				width: 70px;
				height: 70px;
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
				background-color: $orange;
			    font-size: 26px;
				font-weight: 600;
	    		color: #fff;
	    		text-align: center;
	    		padding-top: 13px;
	    		z-index: 1;
	    		span{
				    font-size: 14px;
	    			display: block;
	    		}
			}
		}
		&:hover{
			.image{
				img{
					opacity: .2;
					-webkit-transform: scale(1.1,1.1);
					-ms-transform: scale(1.1, 1.1);
						transform: scale(1.1, 1.1);
					-webkit-transition-timing-function: ease-out;
					        transition-timing-function: ease-out;
					-webkit-transition-duration: 250ms;
					        transition-duration: 250ms;
				}
				&:before{
					top: 50%;
					filter: alpha(opacity=1);
					opacity: 100;
				}
			}
			
		}	
		.meta-date{
		   	margin-top: 10px;
		   	color: $blue_1;
		   	font-size: 12px;
		   	font-style: italic;
		}
		.meta-author{
			color: $blue_1;
			font-style: italic;
			font-size: 12px;
			margin-bottom: 20px;
		}
		.blok-title{
		   	font-size: 24px;
		   	margin-top: 5px;
		   	margin-bottom: 10px;
		   	font-weight: 700;
		   	a{
		   		color: $blue_2;

			   	&:hover{
					color: $orange;
			   	}
		   	}
		}
		
	}
}
