.footer{
	&>.container{
		padding-bottom: 50px;
	}
	padding: 50px 0 0 0;
	background-color: #212831;
	color: $white;

	
	.footer-item{
		margin-top: 20px;
		margin-bottom: 20px;
		.footer-title{
			font-size: 24px;
			font-weight: 600;
			padding: 10px 0;
			&:after{
				content: '';
				display: block;
				width: 35px;
				border-bottom: 1px solid $blue_1;
			    margin-top: 20px;
			}
		}
		.footer-sosmed{
			margin-top: 50px;
			display: inline-block;
			a{
				.item{
					color: $white;
					display: table-cell;
 					vertical-align: middle;
					margin: 0 14px;
					width: 40px;
					height: 40px;
					text-align: center;
					background-color: $blue_3;
					@include border-radius(50px);
					&:hover{
						background-color: $orange;
					}
					.fa{
						font-size: 16px;
					}
				}
			}
		}

		// list info

		.list{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				margin: 14px 0;
				&:before{
					content: '\f105';
				    font: normal normal normal 16px/1 FontAwesome;
				    color: $blue_1;
				    margin-right: 10px;
				}
				a{
					color: $white;
					&:hover{
						color: $orange;
					}
				}
			}
		}
	}

	.fcopy {
	    padding: 30px 0;
	    color: $black_2;
	    font-size: 14px;
	    background-color: $blue_3;
	}

}

.list-info{
	margin: 0;
	padding: 0;
	li{
		margin-bottom: 20px;
		list-style: none;
		.info-icon {
		    display: inline-block;
		    color: $blue_1;
		    font-size: 16px;
		    float: left;
		}
		.info-text{
			margin-left: 30px;
		}
	}
}