/* 5.1 - HERO */

.banner{
	padding: 0 0;
	ol li, ul li{
		margin: 0;
	}
	.btn-primary:hover, .btn-secondary:hover{
		background-color: $blue_2;
	}
}
.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 46%;
    width: 100%;
}
.slides-navigation.center {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 25%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
        transform: translateX(-7px);
    
}
.slides-navigation .container{
	position: relative;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation.center a {
  position: relative;
  display: inline-table;
  text-align: center;
}
.slides-navigation {
  bottom: 20%;
}
.slides-navigation a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  border: 2px solid #fff;
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin: 0 20px;
  text-shadow: 0 1px 1px #000;
  text-align: center;
  height: 40px;
  width: 40px;
  //top: -40px;
  padding: 3px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
  -webkit-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
.slides-navigation a:hover {
  background: rgba(0, 0, 0, 0.4);
}
.slides-navigation a.next {
    left: 50px;
}
.slides-navigation a.prev {
    left: 0;
}
.slides-navigation.center a.next {
    left: 0;
    right: 0;
}
.slides-navigation.center a.prev {
    left: 0;
}

/* 5.2 - Text Typing */

.wrap-caption{
	padding-top: 10%;
	color: $white;
	width: 50%;
	&.center{
		width: 80%;
	    margin: 0 auto;
    	text-align: center;
	}
	.excerpt{
		margin-bottom: 50px;
	 	font-size: 18px;
	}
	.btn{
		margin-right: 15px;
	}
}